extends layout

block content

  h1= currentMobile.property
  h1= currentMobile.address
  h1= currentMobile.type
  h1= currentMobile.size
  h1= currentMobile.ownership

  h1= currentMobile.heating
  h1= currentMobile.basement
  h1= currentMobile.flooring
  h1= currentMobile.garage
  h1= currentMobile.inclusions

  h1= currentMobile.foundation
  h1= currentMobile.exterior
  h1= currentMobile.fronting

  h1= currentMobile.water
  h1= currentMobile.buildinginsurance
  h1= currentMobile.cabletv
  h1= currentMobile.parkingmaintenance


